.app.light {
  --bg-color: rgb(140, 226, 234);
  --inverted-bg-color: rgb(78, 78, 185);

  --primary-color: rgb(105, 135, 244); // заголовки
  --secondary-color: rgb(249, 153, 153); // обычный текст, параграфы
}
